$prefix: 'bmpui' !default;

$font-family: sans-serif !default;
$font-size: 1em !default;
$font-color: #969696 !default;

$button-image-color: #969696 !default;
$button-image-color-hover: #c8c8c8 !default;
$button-image-color-active: #0294c6 !default;
$button-image-color-active-hover: #2eabe2 !default;

$controlbar-background-color: rgba(34, 34, 34, .9) !default;

$color-white: #fff !default;
$color-black: #000 !default;
$color-gray: #808080 !default;
$color-red: #f00 !default;

$subtitle-text-color: #fff !default;
$subtitle-text-border-color: #000 !default;

$animation-duration: .3s !default;
