// demo for extracted audio tracks and subtitle settings from the settings panel direct into the controlBar
@import '../variables';

.#{$prefix}-ui-selectbox {

  &.#{$prefix}-my-audio-track-selection-demo,
  &.#{$prefix}-my-subtitle-selection-demo  {
    appearance: none;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    max-width: 24px;
    min-width: 24px;

    &:hover {
      @include svg-icon-shadow;
    }

    // IE11 hacks to remove default styles from select box
    // removes style in focused state
    &:focus {
      // sass-lint:disable no-vendor-prefixes
      ::-ms-value {
        display: none;
      }
    }

    // removes style in normal state
    // sass-lint:disable no-vendor-prefixes
    &::-ms-value {
      display: none;
    }

    // removes drop down button
    // sass-lint:disable no-vendor-prefixes
    &::-ms-expand {
      border-radius: 5px;
      display: none;
      padding: 5px;
    }
  }

  &.#{$prefix}-my-audio-track-selection-demo {
    background-image: svg('assets/skin-modern/images/audi-tracks.svg');
  }

  &.#{$prefix}-my-subtitle-selection-demo {
    background-image: svg('assets/skin-modern/images/subtitles.svg');

    &.#{$prefix}-subtitles-on {
      background-image: svg('assets/skin-modern/images/subtitlesX.svg');
    }
  }
}
