@import '../variables';
@import '../mixins';

%ad-status-overlay {
  @extend %ui-container;
  @include layout-align-bottom;

  box-sizing: border-box;
  line-height: 1em;
  padding: 1em 1em .5em;

  .#{$prefix}-bar {
    > .#{$prefix}-container-wrapper {
      pointer-events: none;
      display: flex;
      margin: .5em 0;
    }
  }

  // Move the overlay up above the controlbar when it appears to avoid them overlapping
  &.#{$prefix}-controlbar-visible {
    bottom: 5em;
    transition: bottom $animation-duration-short ease-in;
  }
}

.#{$prefix}-ui-ad-status-overlay {
  @extend %ad-status-overlay;
}
