@import '../variables';

%ui-button-ad-skip {
  @extend %ui-button;

  background-color: transparentize(#000, 0.75);
  border-radius: 20px;
  padding: 0em 1em;
  min-width: fit-content;

  .#{$prefix}-label {
    display: inline-block;
    color: $color-ads;

    &::after {
      background-image: url('../../assets/skin-super-modern/images/ad-skip.svg');
      background-repeat: no-repeat;
      background-size: 1em auto;
      content: ' ';
      display: inline-block;
      height: 1em;
      vertical-align: bottom;
      margin-left: .5em;
      width: 1em;
    }
  }

  &.#{$prefix}-disabled {
    .#{$prefix}-label {
      &::after {
        display: none;
      }
    }
  }
}

.#{$prefix}-ui-button-ad-skip {
  @extend %ui-button-ad-skip;
}
