.ui-button {
  font-size: 1em;
  margin: 0.2em;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 1.5em;
  height: 1em;
  cursor: pointer;

  .label {
    display: none;
    color: white;
    font-size: 0.8em;
  }
}