@import '../variables';

.ui-controlbar {
  @extend .ui-container;

  // Align to bottom
  position: absolute;
  bottom: 0;
  width: 100%;

  background-color: $controlbar-background-color;

  > .container {
    display: flex;
    justify-content: space-around;
    margin: 0.5em;

    // Evenly distribute controls
    > * {
      // Overwrite margins to make them all equal
      // Outside margins come from the wrapping container, this is just the spacing between controls
      margin: 0 0.5em 0 0;

      &:last-child {
        // Remove spacing from last control
        margin: 0;
      }
    }
  }

  opacity: 1;
  transition: opacity .3s;

  &.hidden {
    opacity: 0;
    transition: opacity .3s;
  }
}