@import "button";

.ui-playbacktogglebutton {
  @extend .ui-button;

  background-image: url('../../assets/images/components/normal/play.png');
  &:hover {
    background-image: url('../../assets/images/components/hover/play.png');
  }

  &.on {
    background-image: url('../../assets/images/components/normal/pause.png');
    &:hover {
      background-image: url('../../assets/images/components/hover/pause.png');
    }
  }
}