.ui-seekbar {
  font-size: 1em;
  height: 1em;
  margin: 0.2em;
  width: 100%;
  position: relative;

  .seekbar {
    position: relative;
    overflow-x: hidden;
    height: 100%;
    //background-color: lighten($controlbar-background-color, 10%);

    %bar {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }

    .seekbar-backdrop {
      @extend %bar;
      background-color: lighten($controlbar-background-color, 20%);
      margin: 0.3em 0 0.3em 0;
      width: 100%;
    }

    .seekbar-bufferlevel {
      @extend %bar;
      background-color: $button-image-color-active;
      transition: width 0.3s linear;
      margin: 0.3em 0 0.3em 0;
    }

    .seekbar-seekposition {
      @extend %bar;
      background-color: transparentize(white, 0.8);
      margin: 0.3em 0 0.3em 0;
    }

    .seekbar-playbackposition {
      @extend %bar;
      transition: width 0.1s linear;

      // position marker
      $position-marker-width: 0.3em;
      border-right: $position-marker-width solid white;
      // offset position marker to center it on mouse pointer and make it visible on both the leftmost and rightmost timeline positions
      margin-left: -$position-marker-width / 2;
    }
  }

  // disable animations during seeks
  &.seeking {
    .seekbar {
      .seekbar-bufferlevel,
      .seekbar-playbackposition {
        transition: none;
      }
    }
  }
}