@import '../variables';

%ui-settingspanelpagebackbutton {
  @extend %ui-button;

  border-collapse: collapse;
  padding: unset;
  flex: 1;
  text-align: left;

  &:active {
    transform: unset;
  }

  .#{$prefix}-label {
    display: inline-block;
    font-size: .8em;
    font-weight: 500;
    margin: 0;
    text-align: justify;

    &::before {
      background-image: url('../../assets/skin-super-modern/images/angle-left.svg');
      background-repeat: no-repeat;
      background-size: 1.5em auto;
      content: ' ';
      display: inline-block;
      height: 1.5em;
      vertical-align: -.4em;
      width: 1.5em;
    }
  }
}

.#{$prefix}-ui-settingspanelpagebackbutton {
  @extend %ui-settingspanelpagebackbutton;
}
