@import "button";
@import "../variables";

.ui-vrtogglebutton {
  @extend .ui-button;

  // svg() usage: http://pavliko.github.io/postcss-svg/
  background-image: svg('assets/images/components/normal/stereo.svg', '[fill]: #{$button-image-color}');

  &:hover {
    background-image: svg('assets/images/components/normal/stereo.svg', '[fill]: #{$button-image-color-hover}');
  }

  &.on {
    background-image: svg('assets/images/components/normal/stereo.svg', '[fill]: #{$button-image-color-active}');
    &:hover {
      background-image: svg('assets/images/components/normal/stereo.svg', '[fill]: #{$button-image-color-active-hover}');
    }
  }
}