@import "_button";

.ui-vrtogglebutton {
  @extend .ui-button;

  background-image: url('../../assets/images/components/normal/stereo.svg');
  fill: #969696;

  &:hover {
    fill: #c8c8c8;
  }

  &.on {
    fill: #0294c6;
    &:hover {
      fill: #2eabe2;
    }
  }

  &.off {
    background-color: red;
  }
}