@import "button";

.ui-watermark {
  @extend .ui-button;

  background-image: url('../../assets/images/components/normal/bitmovin-logo.png');
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 26px !important; // TODO fix this hack, remove !important; for some reason, these values do not overwrite the imported ones from button if not forced
  margin: 1em !important; // TODO see above
  opacity: 0.8;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}