@import '../variables';

.#{$prefix}-ui-watermark {
  @extend %ui-button;

  $watermark-size: 4em;

  height: $watermark-size;
  width: $watermark-size;
  margin: 2em;
  opacity: .8;
  position: absolute;
  right: 0;
  top: 0;

  .#{$prefix}-icon {
    background-size: initial;
    background-image: url('../../assets/images/logo.svg');
    height: $watermark-size;
    width: $watermark-size;
  }

  &:hover {
    opacity: 1;
  }
}
