@import '../variables';

.#{$prefix}-ui-watermark {
  @extend %ui-button;

  $watermark-size: $icon-size-large;

  height: $watermark-size;
  width: $watermark-size;
  margin: 2em;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;

  .#{$prefix}-ui-icon {
    background-size: initial;
    background-image: svg-load('../../assets/images/logo.svg', fill=$color-icon);
    height: $watermark-size;
    width: $watermark-size;
  }

  &:hover {
    opacity: 1;
  }
}
