@import '../variables';

%ui-button {
  @extend %ui-component;

  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  font-size: 1em;
  height: 1.5em;
  min-width: 1.5em;
  box-sizing: content-box !important; // we need this here, otherwise the pseudo elements are not centered correctly but i need them centered
  padding: .25em;

  .#{$prefix}-label {
    color: $color-primary;
    display: none;
  }

  @include hidden;

  &::before {
    content: '';
    vertical-align: middle;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
  }

}

.#{$prefix}-ui-button {
  @extend %ui-button;
}
