@import '../variables';
@import '../mixins';

.#{$prefix}-ui-closebutton {
  @extend %ui-button;

  @keyframes pulsate {
    20% {
      transform: scale(1.1);
    }

    40% {
      transform: scale(1);
    }

    60% {
      transform: scale(1.1);
    }

    80% {
      transform: scale(1);
    }
  }

  background-image: svg('assets/skin-modern/images/close.svg');

  &:hover {
    @include svg-icon-shadow;

    animation: pulsate 1s;
  }
}