@import '../variables';
@import '../mixins';

.#{$prefix}-ui-controlbar {
  @extend %ui-container;

  @include hidden-animated;
  @include layout-align-bottom;

  background: linear-gradient(to bottom, $color-transparent, $color-background-bars);
  vertical-align: middle;

  .#{$prefix}-controlbar-top,
  .#{$prefix}-controlbar-bottom {
    > .#{$prefix}-container-wrapper {
      display: flex;
    }
  }

  .#{$prefix}-ui-container > {
    .#{$prefix}-container-wrapper > * {
      &:first-child {
        padding-left: 2rem;
      }

      &:last-child {
        padding-right: 2rem;
      }
    }
  }

  // sass-lint:disable nesting-depth
  .#{$prefix}-ui-container {
    &:last-of-type > {
      .#{$prefix}-container-wrapper > * {
        &:not(.#{$prefix}-ui-volumeslider) {
          &:not(.#{$prefix}-ui-seekbar) {
            padding-bottom: 1.5rem;
          }
        }

        &.#{$prefix}-ui-volumeslider {
          margin: .5em;
          padding: initial;
          width: 5em;
        }

        &.#{$prefix}-ui-seekbar {
          margin: .5em;
        }
      }
    }
  }
}

// IE9 compatibility: fallback for missing flexbox support
// sass-lint:disable nesting-depth
&.#{$prefix}-no-flexbox {
  .#{$prefix}-ui-controlbar {
    .#{$prefix}-controlbar-top,
    .#{$prefix}-controlbar-bottom {
      > .#{$prefix}-container-wrapper {
        border-spacing: .5em 0;
        display: table;

        > * {
          @include hidden; // Add hidden here too, else it is overwritten by display: table-cell

          display: table-cell;
          vertical-align: middle;
        }

        .#{$prefix}-ui-volumeslider {
          width: 10%;
        }
      }
    }
  }
}
