@import '../variables';
@import '../mixins';

.#{$prefix}-ui-controlbar {
  @extend %ui-container;

  @include hidden-animated;
  @include layout-align-bottom;

  background: linear-gradient(to bottom, $color-transparent, $color-background-bars);
  //line-height: 1em;
  //padding: 1em 1em .5em;

  .#{$prefix}-controlbar-top,
  .#{$prefix}-controlbar-bottom {
    > .#{$prefix}-container-wrapper {
      display: flex;
    }
  }

  .#{$prefix}-ui-container > {
    .#{$prefix}-container-wrapper > * {
      &:first-child {
        padding-left: 2rem;
        &.#{$prefix}-ui-label {
          // TODO: move to skin file, out of this one at least
          margin-left: 5px; // to align it with our play button (does not apply for all buttons but it looks weird without)
        }
      }
      &:last-child {
        padding-right: 2rem;
      }
    }
  }


  .#{$prefix}-ui-container:last-of-type {
    .#{$prefix}-container-wrapper > * {
      &:not(.#{$prefix}-ui-volumeslider) {
        padding-bottom: 1.5rem;
      }
    }
  }

  .#{$prefix}-controlbar-bottom {
    > .#{$prefix}-container-wrapper {
      .#{$prefix}-ui-volumeslider {
        padding: initial;
        margin: .5em;
        width: 5em;
      }
    }
  }
}

// IE9 compatibility: fallback for missing flexbox support
// sass-lint:disable nesting-depth
&.#{$prefix}-no-flexbox {
  .#{$prefix}-ui-controlbar {
    .#{$prefix}-controlbar-top,
    .#{$prefix}-controlbar-bottom {
      > .#{$prefix}-container-wrapper {
        border-spacing: .5em 0;
        display: table;

        > * {
          @include hidden; // Add hidden here too, else it is overwritten by display: table-cell

          display: table-cell;
          vertical-align: middle;
        }

        .#{$prefix}-ui-volumeslider {
          width: 10%;
        }
      }
    }
  }
}
