@import '../variables';
@import '../mixins';

%ui-listbox {
  @extend %ui-container;

  .#{$prefix}-ui-listboxitem-button {
    @extend %ui-button;

    font-size: .8em;
    height: 100%;
    padding: .5em;
    width: 100%;

    .#{$prefix}-label {
      display: inherit;
    }

    &.#{$prefix}-ui-listboxitem-button-selected {
      background-color: transparentize($color-highlight, .3);
    }

    &:hover {
      background-color: transparentize($color-highlight, .15);
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.#{$prefix}-ui-listbox {
  @extend %ui-listbox;
}
