@import '../variables';
@import '../mixins';

.#{$prefix}-ui-playbacktogglebutton {
  @extend %ui-button;

  background: transparent url('../../assets/skin-modern/images/play.svg') center / 1.5em no-repeat content-box !important;

  &:hover {
    @include svg-icon-shadow;
  }

  &.#{$prefix}-on {
    background: transparent url('../../assets/skin-modern/images/pause.svg') center / 1.5em no-repeat content-box !important;

    &.#{$prefix}-stoptoggle {
      background: transparent url('../../assets/skin-modern/images/stop.svg') center / 1.5em no-repeat content-box !important;
    }
  }
}
