@import '../variables';

%ui-seekbar {
  @extend %ui-component;

  @include hidden;

  cursor: pointer;
  font-size: 1em;
  height: 1em;
  margin: auto 1em;
  position: relative;
  width: 100%;

  $bar-inset: auto;
  $bar-height: .25em;

  .#{$prefix}-seekbar {
    height: 100%;
    position: relative;

    %bar {
      // sass-lint:disable no-vendor-prefixes
      -ms-transform-origin: 0 0; // required for IE9
      -webkit-transform-origin: 0 0; // required for Android 4.4 WebView
      bottom: 0;
      height: $bar-height;
      left: 0;
      position: absolute;
      right: auto;
      top: 0;
      transform-origin: 0 0;
      width: 100%;
    }

    .#{$prefix}-seekbar-backdrop {
      @extend %bar;
      background-color: transparentize($color-primary, .8);
      margin: $bar-inset 0;
      width: 100%;
    }

    .#{$prefix}-seekbar-bufferlevel {
      @extend %bar;
      background-color: $color-primary;
      margin: $bar-inset 0;
      transition: .3s linear, .3s linear;
      transition-property: transform;
    }

    .#{$prefix}-seekbar-seekposition {
      @extend %bar;
      background-color: transparentize($color-primary, .8);
      margin: $bar-inset 0;
    }

    .#{$prefix}-seekbar-playbackposition {
      @extend %bar;
      background-color: $color-highlight;
      margin: $bar-inset 0;
      transition: .1s linear, .1s linear;
      transition-property: transform;
    }

    .#{$prefix}-seekbar-playbackposition-marker {
      @extend %bar;

      background-image: svg('assets/skin-modern/images/dot-play.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1.5em;
      height: 1em;
      left: -.5em;
      position: absolute;
      width: 1em;
    }

    .#{$prefix}-seekbar-markers {
      @extend %bar;

      $marker-width: 2px;

      height: $bar-height * 2;
      margin: $bar-inset 0;

      > .#{$prefix}-seekbar-marker {
        @extend %bar;

        border-right: $marker-width solid $color-primary;
        // don't consider the border for width, else it does not overlap at edges
        box-sizing: content-box;
        height: 100%;
        // offset position marker to center it on its actual position
        margin-left: -$marker-width / 2;
        width: 0;
      }
    }
  }

  // disable animations during seeks
  &.#{$prefix}-seeking {
    .#{$prefix}-seekbar {
      .#{$prefix}-seekbar-bufferlevel,
      .#{$prefix}-seekbar-playbackposition {
        transition: none;
      }
    }
  }

  &.#{$prefix}-vertical {
    .#{$prefix}-seekbar {
      //overflow-y: hidden;
      height: 100%;
      width: auto;

      %bar-vertical {
        right: 0;
        top: auto;
      }

      %positionmarker-vertical {
        //@extend %positionmarker-horizontal;

        .#{$prefix}-seekbar-playbackposition-marker {
          height: 1em;
          top: -.5em;
          width: 100%;
        }
      }

      .#{$prefix}-seekbar-backdrop {
        @extend %bar-vertical;

        height: 100%;
        margin: 0 $bar-inset;
        width: auto;
      }

      .#{$prefix}-seekbar-bufferlevel {
        @extend %bar-vertical;

        margin: 0 $bar-inset;
      }

      .#{$prefix}-seekbar-seekposition {
        @extend %bar-vertical;

        margin: 0 $bar-inset;
      }

      .#{$prefix}-seekbar-playbackposition {
        @extend %bar-vertical;
        @extend %positionmarker-vertical;
      }
    }
  }
}

.#{$prefix}-ui-seekbar {
  @extend %ui-seekbar;
}
