@import '../variables';

%ui-seekbar {
  @extend %ui-component;

  @include hidden;

  cursor: pointer;
  font-size: 1em;
  height: 1em;
  margin: .2em;
  position: relative;
  width: 100%;

  $bar-inset: .41em;

  .#{$prefix}-seekbar {
    height: 100%;
    position: relative;

    %bar {
      bottom: 0;
      left: 0;
      position: absolute;
      right: auto;
      top: 0;
    }

    %positionmarker-horizontal {
      background-color: $color-highlight;
      margin: $bar-inset 0;

      .#{$prefix}-seekbar-playbackposition-marker {
        background-image: svg('assets/skin-modern/images/dot-play.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.6em;
        height: 1em;
        position: absolute;
        right: -.5em;
        top: -.5em + (.5em - $bar-inset);
        width: 1em;
      }
    }

    .#{$prefix}-seekbar-backdrop {
      @extend %bar;
      background-color: transparentize($color-primary, .8);
      margin: $bar-inset 0;
      width: 100%;
    }

    .#{$prefix}-seekbar-bufferlevel {
      @extend %bar;
      background-color: $color-primary;
      margin: $bar-inset 0;
      transition: width .3s linear, height .3s linear;
    }

    .#{$prefix}-seekbar-seekposition {
      @extend %bar;
      background-color: transparentize($color-primary, .8);
      margin: $bar-inset 0;
    }

    .#{$prefix}-seekbar-playbackposition {
      @extend %bar;
      @extend %positionmarker-horizontal;
      transition: width .1s linear, height .1s linear;
    }
  }

  // disable animations during seeks
  &.#{$prefix}-seeking {
    .#{$prefix}-seekbar {
      .#{$prefix}-seekbar-bufferlevel,
      .#{$prefix}-seekbar-playbackposition {
        transition: none;
      }
    }
  }

  &.#{$prefix}-vertical {
    .#{$prefix}-seekbar {
      //overflow-y: hidden;
      height: 100%;
      width: auto;

      %bar-vertical {
        right: 0;
        top: auto;
      }

      %positionmarker-vertical {
        @extend %positionmarker-horizontal;

        .#{$prefix}-seekbar-playbackposition-marker {
          height: 1em;
          top: -.5em;
          width: 100%;
        }
      }

      .#{$prefix}-seekbar-backdrop {
        @extend %bar-vertical;

        height: 100%;
        margin: 0 $bar-inset;
        width: auto;
      }

      .#{$prefix}-seekbar-bufferlevel {
        @extend %bar-vertical;

        margin: 0 $bar-inset;
      }

      .#{$prefix}-seekbar-seekposition {
        @extend %bar-vertical;

        margin: 0 $bar-inset;
      }

      .#{$prefix}-seekbar-playbackposition {
        @extend %bar-vertical;
        @extend %positionmarker-vertical;
      }
    }
  }
}

.#{$prefix}-ui-seekbar {
  @extend %ui-seekbar;
}
