@import '../variables';
@import '../mixins';

.#{$prefix}-ui-settings-panel {
  @extend %ui-container;

  @include hidden-animated;

  $background-color: transparentize($color-background, .15);

  background-color: $background-color;
  bottom: 6em;
  //overflow: hidden;
  padding: 0;
  position: absolute;
  right: 2em;

  // bottom arrow from http://www.cssarrowplease.com/
  &::after {
    border: solid transparent;
    border-color: transparent;
    border-top-color: $background-color;
    border-width: 1em;
    content: ' ';
    height: 0;
    left: 50%;
    margin-left: 6em;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
  }

  > .#{$prefix}-container-wrapper {
    margin: .5em;
    overflow-y: auto;

    > * {
      margin: 0 .5em;
    }

    // A "line" in the panel: a container holding a label + control
    .#{$prefix}-container-wrapper > * {
      // Labels
      &.#{$prefix}-ui-label {
        width: 8em;
        font-size: .8em;
        display: inline-block;
      }

      // Controls (e.g. selectbox)
      &.#{$prefix}-ui-selectbox {
        width: 12em;
      }
    }
  }

  .#{$prefix}-ui-settings-panel-item {
    border-bottom: 1px solid transparentize($color-secondary, .7);
    margin: 0 1em;
    padding: .5em 0;

    &.#{$prefix}-last {
      border-bottom: 0;
    }

    &.#{$prefix}-hidden {
      display: none;
    }
  }

  .#{$prefix}-ui-subtitlesettingtoggle {
    @extend %ui-button;

    background-image: svg('assets/skin-modern/images/settings.svg');
    padding: .3em;

    &:hover {
      @include svg-icon-shadow;
    }

    &.#{$prefix}-on {
      background-image: svg('assets/skin-modern/images/settingsX.svg');
    }
  }

  .#{$prefix}-ui-subtitleoptioncloser {
    @extend %ui-button;

    border-bottom: 1px solid transparentize($color-secondary, .7);
    margin: .5em 1em;
    position: relative;
    width: 20em;

    span {
      color: $color-primary;
      font-family: $font-family;
      font-size: .8em;
      margin: auto;
      text-align: left;
      user-select: none;
    }

    &::before {
      border-bottom: .2em solid $color-primary;
      border-left: .2em solid $color-primary;
      content: '';
      height: .6em;
      left: 30%;
      position: absolute;
      top: .4em;
      transform: rotate(45deg);
      width: .6em;
    }

    &.#{$prefix}-last {
      border-bottom: 0;
    }
  }
}

// Remove margin inherited from controlbar
.#{$prefix}-container-wrapper > .#{$prefix}-ui-settings-panel {
  margin: 0;
}
