@import '../variables';
@import '../mixins';

%ui-settings-panel {
  @extend %ui-container;

  @include hidden-animated;

  $background-color: transparentize($color-background, .15);

  background-color: $background-color;
  bottom: 6em;
  padding: 0;
  position: absolute;
  right: 2em;

  > .#{$prefix}-container-wrapper {
    margin: .5em;
    overflow-y: auto;

    > * {
      margin: 0 .5em;
    }

    // A "line" in the panel: a container holding a label + control
    .#{$prefix}-container-wrapper > * {
      // Labels
      &.#{$prefix}-ui-label {
        display: inline-block;
        font-size: .8em;
        width: 9em;
      }

      // Controls (e.g. selectbox)
      &.#{$prefix}-ui-selectbox {
        width: 12em;
      }
    }
  }

  .#{$prefix}-ui-settings-panel-item {
    border-bottom: 1px solid transparentize($color-secondary, .7);
    margin: 0 1em;
    padding: .5em 0;

    &.#{$prefix}-last {
      border-bottom: 0;
    }

    &.#{$prefix}-hidden {
      display: none;
    }
  }
}

.#{$prefix}-ui-settings-panel {
  @extend %ui-settings-panel;
}

// Remove margin inherited from controlbar
.#{$prefix}-container-wrapper > .#{$prefix}-ui-settings-panel {
  margin: 0;
}
