@import '../variables';
@import '../mixins';

%ui-settingspanelpageopenbutton {
  @extend %ui-button;

  &::before {
    background-image: svg('assets/skin-modern/images/settings.svg');
  }
  padding: .3em; // TODO: check this padding

  &:hover {
    @include svg-icon-shadow;
  }

  &.#{$prefix}-on {
    &::before {
      background-image: svg('assets/skin-modern/images/settingsX.svg');
    }
  }
}

.#{$prefix}-ui-settingspanelpageopenbutton {
  @extend %ui-settingspanelpageopenbutton;
}
