@import '../variables';

%ui-settingspanelpagebackbutton {
  @extend %ui-button;

  font-size: .8em;
  position: relative;
  width: 9em;

  &::before {
    border: solid $color-primary;
    border-width: 0 .2em .2em 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    width: .5em;
    height: .5em;
    top: -.1em;
    left: -.3em;
  }

  .#{$prefix}-label {
    display: inline-block;
  }
}

.#{$prefix}-ui-settingspanelpagebackbutton {
  @extend %ui-settingspanelpagebackbutton;
}
