@import '../variables';
@import '../mixins';

%ui-settingspanelpageopenbutton {
  @extend %ui-button;

  background-image: svg('assets/skin-modern/images/settings.svg');
  max-height: .8em;
  padding: .3em 0;

  &:hover {
    @include svg-icon-shadow;
  }

  &.#{$prefix}-on {
    background-image: svg('assets/skin-modern/images/settingsX.svg');
  }
}

.#{$prefix}-ui-settingspanelpageopenbutton {
  @extend %ui-settingspanelpageopenbutton;
}
