// demo for extracted audio tracks and subtitle settings from the settings panel direct into the controlBar
@import '../variables';

.#{$prefix}-ui-listbox-wrapper {
  @extend %ui-container;
  position: relative;

  .#{$prefix}-ui-subtitles-listbox {
    @extend %ui-listbox;
  }

  .#{$prefix}-ui-subtitles-listbox-toggle-button {
    @extend %ui-button;
    background-image: svg('assets/skin-modern/images/audi-tracks.svg');

    &.#{$prefix}-on {
      background-image: svg('assets/skin-modern/images/audio-tracksx.svg');
    }
  }
}
