@import '../variables';
@import '../mixins';

.#{$prefix}-ui-subtitle-overlay {
  @extend %ui-container;

  @include hidden;

  height: 80%;
  width: 80%;
  top: 50%;
  transform: translate(0%, -50%);
  display: inline-block;
  font-size: 1.2em;
  pointer-events: none;
  position: absolute;
  margin: auto 10%;
  text-align: center;
  transition: height $animation-duration-short ease-out;

  .#{$prefix}-container-wrapper {
      position: absolute;
  }

  .#{$prefix}-ui-subtitle-label {
    @include text-border($subtitle-text-border-color);

    color: $subtitle-text-color;

    // Break labels into separate lines
    // sass-lint:disable force-pseudo-nesting
    &:nth-child(1n-1)::after {
      content: '\A';
      white-space: pre-line;
    }
  }

  &.#{$prefix}-controlbar-visible {
    height: 60%;
    transition: height $animation-duration-short ease-in;
  }
}
