@import '../variables';
@import '../mixins';

.#{$prefix}-ui-subtitle-overlay {
  @extend %ui-container;

  @include hidden;

  bottom: 2em;
  font-size: 1.2em;
  left: 3em;
  pointer-events: none;
  position: absolute;
  right: 3em;
  text-align: center;
  transition: bottom $animation-duration-short ease-out;

  .#{$prefix}-ui-subtitle-label {
    @include text-border($subtitle-text-border-color);

    color: $subtitle-text-color;
  }

  &.#{$prefix}-controlbar-visible {
    bottom: 5em;
    transition: bottom $animation-duration-short ease-in;
  }
}
