@import '../variables';
@import '../mixins';

.#{$prefix}-ui-subtitle-overlay {
  @extend %ui-container;

  @include hidden;

  align-items: flex-end;
  display: flex;
  font-size: 1.2em;
  height: 86%;
  justify-content: center;
  margin: auto 20%;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0%, -50%);
  transition: height $animation-duration-short ease-out;
  width: 60%;

  .#{$prefix}-container-wrapper {
    position: absolute;
  }

  .#{$prefix}-ui-subtitle-label {
    @include text-border($subtitle-text-border-color);

    color: $subtitle-text-color;

    // Break labels into separate lines
    // sass-lint:disable force-pseudo-nesting
    &:nth-child(1n-1)::after {
      content: '\A';
      white-space: pre-line;
    }
  }

  &.#{$prefix}-controlbar-visible {
    height: 70%;
    transition: height $animation-duration-short ease-in;
  }
}
