.#{$prefix}-ui-subtitlesettingsclosebutton {
  @extend %ui-button;

  position: relative;
  width: fill;

  span {
    color: $color-primary;
    font-family: $font-family;
    font-size: .8em;
    margin: auto;
    text-align: left;
    user-select: none;

    &::before {
      border-bottom: .2em solid $color-primary;
      border-left: .2em solid $color-primary;
      content: '';
      height: .6em;
      left: 35%;
      position: absolute;
      top: .6em;
      transform: rotate(45deg);
      width: .6em;
    }

  }
}
