@import '../variables';
@import '../mixins';

.#{$prefix}-ui-subtitle-settings-panel {
  @extend %ui-settings-panel;

  width: 7em;

  .#{$prefix}-ui-settings-panel-item {
    margin: 0;
    padding: 0;
  }
}
