@import '../variables';
@import '../mixins';

@keyframes linear-progress {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.#{$prefix}-ui-upnextbutton {
  border: 0;

  border-radius: .5em;
  bottom: 5em;
  color: #000000 !important;

  font-weight: 600;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: absolute;

  right: 1.25em;

  &.#{$prefix}-hidden {
    display: none;
  }

  .#{$prefix}-label {
    display: none;
  }

  .#{$prefix}-animation-wrapper {
    align-items: center;
    background-color: #949da4;
    display: flex;
    flex-direction: row;
    padding: 1em 1.5em;
    position: relative;

    .#{$prefix}-text {
      z-index: 10;
    }

    .#{$prefix}-icon {
      background-image: svg('assets/skin-modern/images/playsolid.svg');
      background-repeat: no-repeat;
      height: 1em;
      margin-right: 1em;
      width: 1em;
      z-index: 10;
    }

    .#{$prefix}-animation {
      background-color: #ffffff;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }
  }

  &.#{$prefix}-animating {

    .#{$prefix}-animation {
      animation: linear-progress 6s linear;
    }
  }

}
