@import '../variables';
@import '../mixins';

.#{$prefix}-ui-volumeslider {
  @extend %ui-seekbar;

  .#{$prefix}-seekbar {
    .#{$prefix}-seekbar-playbackposition-marker {
      @include seekbar-position-marker($seekbar-height * 3 - 4px);
      background-color: $color-highlight;
      border: 0;
    }

    .#{$prefix}-seekbar-bufferlevel {
      display: none;
    }
  }
}
