@import '../../variables';

%ui-label {
  @extend %ui-component;
  @include ui-icon-container;

  @include hidden;

  white-space: nowrap;
  // sass-lint:disable no-vendor-prefixes
  -webkit-tap-highlight-color: transparent;

  .#{$prefix}-ui-label-text {
    @extend %ui-label;

    margin: 0;
  }
}

.#{$prefix}-ui-label {
  @extend %ui-label;
}

.#{$prefix}-ui-label-savedEnergy {
  @extend %ui-label;
  color: $color-highlight;
  font-size: .8em;
  margin-left: 2.2em;
}
