@import '../../variables';

%ui-label {
  @extend %ui-component;
  @include hidden;
  @include ui-icon-container;

  .#{$prefix}-ui-label-text {
    margin: 0;
    white-space: nowrap;
    // sass-lint:disable no-vendor-prefixes
    -webkit-tap-highlight-color: transparent;
  }
}

.#{$prefix}-ui-label {
  @extend %ui-label;
}

.#{$prefix}-ui-label-savedEnergy {
  @extend %ui-label;
  color: $color-highlight;
  font-size: .8em;
  margin-left: 2.2em;
}
