@import '../../variables';
@import '../../mixins';
@import 'seek-bar';

.#{$prefix}-ui-volumeslider {
  @extend %ui-seekbar;

  .#{$prefix}-seekbar-playbackposition-marker {
    @include seekbar-position-marker($seekbar-bar-height * 3 - .25rem);
    background-color: $color-highlight;
    border: 0;
  }

  .#{$prefix}-seekbar {
    .#{$prefix}-seekbar-bufferlevel {
      display: none;
    }
  }
}
