@import '../../variables';

.#{$prefix}-ui-subtitlesettingsresetbutton {
  @extend %ui-button;

  font-size: .8em;
  width: 11em;

  &::before {
    display: none;
  }

  .#{$prefix}-label {
    display: inline-block;
  }
}
