@import '../../variables';

.#{$prefix}-ui-subtitlesettingsresetbutton {
  @extend %ui-button;

  font-size: .8em;
  padding-bottom: .25em;
  padding-top: .25em;
  width: 12em;

  .#{$prefix}-label {
    display: inline-block;
  }
}
