@import '../../variables';
@import '../../mixins';

.#{$prefix}-ui-subtitle-overlay {

  $colors: (
          white: #fff,
          black: #000,
          red: #f00,
          green: #0f0,
          blue: #00f,
          cyan: #0ff,
          yellow: #ff0,
          magenta: #f0f,
  );

  $opacities: (
          100: 1,
          75: .75,
          50: .5,
          25: .25,
  );

  $characterEdges: (
          none: 'none',
          raised: '0px 0px 4px rgba(0, 0, 0, 0.9), 0px 1px 4px rgba(0, 0, 0, 0.9), 0px 2px 4px rgba(0, 0, 0, 0.9)',
          depressed: 'rgba(0, 0, 0, 0.8) 0px -2px 1px',
          uniform: '-2px 0px 1px rgba(0, 0, 0, 0.8), 2px 0px 1px rgba(0, 0, 0, 0.8), 0px -2px 1px rgba(0, 0, 0, 0.8), 0px 2px 1px rgba(0, 0, 0, 0.8), -1px 1px 1px rgba(0, 0, 0, 0.8), 1px 1px 1px rgba(0, 0, 0, 0.8), 1px -1px 1px rgba(0, 0, 0, 0.8), 1px 1px 1px rgba(0, 0, 0, 0.8)',
          dropshadowed: ' 0px 2px 1px rgba(0, 0, 0, 0.8)',
  );

  $fontSize: (
          50: 0.5,
          75: .75,
          100: 1,
          150: 1.5,
          200: 2,
          300: 3,
          400: 4,
  );

  // Font color + opacity
  @each $colorName, $colorValue in $colors {
    @each $opacityName, $opacityValue in $opacities {
      &.#{$prefix}-fontcolor-#{$colorName}#{$opacityName} {
        .#{$prefix}-ui-subtitle-label {
          color: transparentize($colorValue, 1 - $opacityValue);
        }
      }
    }
  }

  // Background color + opacity
  @each $colorName, $colorValue in $colors {
    @each $opacityName, $opacityValue in $opacities {
      &.#{$prefix}-bgcolor-#{$colorName}#{$opacityName} {
        .#{$prefix}-ui-subtitle-label {
          background-color: transparentize($colorValue, 1 - $opacityValue);
        }
      }
    }
  }

  // Window color + opacity
  @each $colorName, $colorValue in $colors {
    @each $opacityName, $opacityValue in $opacities {
      &.#{$prefix}-windowcolor-#{$colorName}#{$opacityName} {
        background-color: transparentize($colorValue, 1 - $opacityValue);
      }
    }
  }

  // Font size
  @each $name, $value in $fontSize {
    &.#{$prefix}-fontsize-#{$name} {
      .#{$prefix}-ui-subtitle-label {
        font-size: $value + em;
      }
    }
  }

  // Font character edge
  @each $name, $value in $characterEdges {
    &.#{$prefix}-characteredge-#{$name} {
      .#{$prefix}-ui-subtitle-label {
        text-shadow: unquote($value);
      }
    }
  }

  // Font family
  &.#{$prefix}-fontfamily-monospacedserif {
    .#{$prefix}-ui-subtitle-label {
      font-family: "Courier New", Courier, "Nimbus Mono L", "Cutive Mono", monospace;
    }
  }
  &.#{$prefix}-fontfamily-proportionalserif {
    .#{$prefix}-ui-subtitle-label {
      font-family: "Times New Roman", Times, Georgia, Cambria, "PT Serif Caption", serif;
    }
  }
  &.#{$prefix}-fontfamily-monospacedsansserif {
    .#{$prefix}-ui-subtitle-label {
      font-family: "Deja Vu Sans Mono", "Lucida Console", Monaco, Consolas, "PT Mono", monospace;
    }
  }
  &.#{$prefix}-fontfamily-proportionalsansserif {
    .#{$prefix}-ui-subtitle-label {
      font-family: Roboto, "Arial Unicode Ms", Arial, Helvetica, Verdana, "PT Sans Caption", sans-serif;
    }
  }
  &.#{$prefix}-fontfamily-casual {
    .#{$prefix}-ui-subtitle-label {
      font-family: "Comic Sans MS", Impact, Handlee, fantasy;
    }
  }
  &.#{$prefix}-fontfamily-cursive {
    .#{$prefix}-ui-subtitle-label {
      font-family: "Monotype Corsiva", "URW Chancery L", "Apple Chancery", "Dancing Script", cursive;
      font-style: italic;
    }
  }
  &.#{$prefix}-fontfamily-smallcapital {
    .#{$prefix}-ui-subtitle-label {
      font-variant: small-caps;
    }
  }
}