@import 'variables';
@import 'mixins';

.#{$prefix}-ui-skin-tv {
  $overscan-margin: 2%;
  $large-size: 3.5vh;
  $medium-large-size: 3vh;
  $medium-size: 2vh;

  font-size: $medium-size;

  .#{$prefix}-ui-titlebar {
    > .#{$prefix}-container-wrapper {
      margin: $overscan-margin $overscan-margin $medium-size;
      width: 100% - 2 * $overscan-margin;
    }
  }

  .#{$prefix}-ui-titlebar-top {
    margin-bottom: 1vh;

    > .#{$prefix}-container-wrapper {
      width: 100%;
      font-size: $large-size;

      display: inline-flex;
      // Start from the right side
      justify-content: flex-end;
      align-items: center;

      .#{$prefix}-label-metadata-title {
        // Moves rest of the items starting with this one to the very left
        // margin auto will fill up the rest of the space in between.
        margin-right: auto;
        font-size: $large-size;
      }
    }
  }

  .#{$prefix}-ui-hugeplaybacktogglebutton {
    > .#{$prefix}-image {
      background-size: 20vh;
    }
  }

  .#{$prefix}-ui-titlebar-bottom {
    > .#{$prefix}-container-wrapper {
      width: 100%;
      font-size: $large-size;

      position: relative;
      display: inline-flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .#{$prefix}-label-metadata-description {
      font-size: $medium-size;
      width: 66%;
      line-height: 2em;
    }

    // Position the settings panel top right below the settings icons
    .#{$prefix}-ui-settings-panel {
      font-size: $medium-large-size;
      top: 0;
      right: 0;
    }
  }

  // Increase icon sizes and texts in the controlbar such as current time
  .#{$prefix}-ui-subtitlesettingstogglebutton,
  .#{$prefix}-ui-audiotracksettingstogglebutton {
    font-size: 5vh;
  }

  .#{$prefix}-ui-controlbar {
    font-size: $medium-large-size;

    .#{$prefix}-controlbar-top{
      font-size: $medium-large-size;
      justify-self: center;

    }
  }

  .#{$prefix}-ui-playbacktimelabel {
    font-size: 2.5vh;
  }

  // Increase margin area around the UI but spread the dark shadow still 
  // to the edge of the video by applying it to only the container-wrapper
  .#{$prefix}-ui-controlbar {
    > .#{$prefix}-container-wrapper {
      margin: $overscan-margin 0;
      width: 99%;
    } 
  }

  :focus {
    transition: all .05s ease-in-out;
    box-shadow: $focus-element-box-shadow;
    outline: none;
    border: none;
    -webkit-filter: drop-shadow(0 0 0.3em $color-highlight);
    filter: drop-shadow(0 0 0.3em $color-highlight);
  }

  .#{$prefix}-ui-hugeplaybacktogglebutton {
    @extend %ui-button;

    .#{$prefix}-off {
      .#{$prefix}-image {
        animation: fade-out $animation-duration cubic-bezier(.55, .055, .675, .19); // http://easings.net/de#easeInCubic
        transition: visibility 0s $animation-duration;
        visibility: hidden;
      }
  }
}

}
