@import 'variables';

&.#{$prefix}-ui-skin-cast-receiver {

  $background-color: transparentize($color-background, .15);
  $overscan-margin: 10%;

  // Add title safe margins for overscan TV sets
  // 10% as recommended by the Cast docs: https://developers.google.com/cast/docs/custom_receiver#overscan
  &.#{$prefix}-ui-uicontainer {

    %box {
      background: $background-color;
      padding: .3em .5em;
    }

    .#{$prefix}-ui-controlbar {
      @extend %box;

      bottom: $overscan-margin;
      left: $overscan-margin;
      right: $overscan-margin;
      width: auto;
    }

    .#{$prefix}-ui-titlebar {
      @extend %box;

      left: $overscan-margin;
      right: $overscan-margin;
      top: $overscan-margin;
      width: auto;
    }

    .#{$prefix}-ui-watermark {
      margin: 0;
      right: $overscan-margin;
      top: $overscan-margin;
    }

    .#{$prefix}-ui-subtitle-overlay {
      .#{$prefix}-ui-subtitle-label {
        bottom: $overscan-margin;
      }

      &.#{$prefix}-controlbar-visible {
        .#{$prefix}-ui-subtitle-label {
          bottom: 20%;
        }
      }
    }

    // Chromecast (v1) has very poor rendering performance, so we disable the animations.
    // We also display a pause image while playback is paused, instead of a play action button
    .#{$prefix}-ui-hugeplaybacktogglebutton {
      .#{$prefix}-image {
        background-image: svg('assets/skin-modern/images/pause.svg');
        opacity: .7;
      }

      // sass-lint:disable force-element-nesting
      &.#{$prefix}-on .#{$prefix}-image,
      &.#{$prefix}-off .#{$prefix}-image {
        animation: none;
        transition: none;
      }
    }
  }
}
