@import '../../variables';
@import '../../mixins';

.#{$prefix}-ui-cast-status-overlay {
  @extend %ui-container;

  @include layout-cover;
  @include hidden-animated;

  background: $color-background url('../../assets/images/cast.svg') center no-repeat;
  background-size: 6em 6em;

  .#{$prefix}-ui-cast-status-label {
    color: $color-primary;
    left: 0;
    margin: 0 2em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 65%;

    * {
      pointer-events: none;
    }
  }
}
