.#{$prefix}-ui-casttogglebutton {
  @extend %ui-button;

  background-image: url('../../assets/skin-legacy/images/components/normal/chromecast.png');

  &:hover {
    background-image: url('../../assets/skin-legacy/images/components/hover/chromecast.png');
  }

  &.#{$prefix}-on {
    background-image: url('../../assets/skin-legacy/images/components/normal/chromecast.png');

    &:hover {
      background-image: url('../../assets/skin-legacy/images/components/hover/chromecast.png');
    }
  }
}
