@import '../variables';
@import '../mixins';

.#{$prefix}-ui-controlbar {
  @extend %ui-container;

  @include layout-align-bottom;

  background-color: $controlbar-background-color;

  > .#{$prefix}-container-wrapper {
    display: flex;
    justify-content: space-around;
    margin: .5em;

    // Evenly distribute controls
    > * {
      // Overwrite margins to make them all equal
      // Outside margins come from the wrapping container, this is just the spacing between controls
      margin: 0 .5em 0 0;

      // sass-lint:disable nesting-depth
      &:last-child {
        // Remove spacing from last control
        margin: 0;
      }
    }
  }

  @include hidden-animated;

  .#{$prefix}-ui-label {
    font-size: .8em;
  }
}

// IE9 compatibility: fallback for missing flexbox support
// sass-lint:disable nesting-depth
&.#{$prefix}-no-flexbox {
  .#{$prefix}-ui-controlbar {
    > .#{$prefix}-container-wrapper {
      border-spacing: .5em 0;
      display: table;

      > * {
        @include hidden; // Add hidden here too, else it is overwritten by display: table-cell

        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
