@import '../variables';
@import '../mixins';

.#{$prefix}-ui-errormessage-overlay {
  @extend %ui-container;

  @include layout-cover;
  @include hidden;

  background-color: $color-black;
  pointer-events: none;

  .#{$prefix}-ui-errormessage-label {
    color: $color-white;
    font-size: 1.2em;
    left: 3em;
    position: absolute;
    right: 3em;
    text-align: center;

    // Vertically center the label (not exactly, but works for single line errors)
    & {
      margin-top: -1em;
      top: 50%;
    }
  }

  .#{$prefix}-ui-tvnoisecanvas {
    @include layout-cover;

    filter: blur(4px);
  }
}
