.#{$prefix}-ui-playbacktogglebutton {
  @extend %ui-button;

  background-image: url('../../assets/skin-legacy/images/components/normal/play.png');

  &:hover {
    background-image: url('../../assets/skin-legacy/images/components/hover/play.png');
  }

  &.#{$prefix}-on {
    background-image: url('../../assets/skin-legacy/images/components/normal/pause.png');

    &:hover {
      background-image: url('../../assets/skin-legacy/images/components/hover/pause.png');
    }
  }
}
