@import '../variables';

%ui-seekbar {
  @extend %ui-component;

  font-size: 1em;
  height: 1em;
  margin: .2em;
  position: relative;
  width: 100%;

  $position-marker-width: .3em;
  $bar-inset: .3em;

  // We just set the visibility to hidden instead of "@include hidden;" because really
  // hiding it screws up the control bar formatting
  &.#{$prefix}-hidden {
    visibility: hidden;
  }

  .#{$prefix}-seekbar {
    height: 100%;
    position: relative;
    //background-color: lighten($controlbar-background-color, 10%);

    %bar {
      // sass-lint:disable no-vendor-prefixes
      -ms-transform-origin: 0 0; // required for IE9
      bottom: 0;
      left: 0;
      position: absolute;
      right: auto;
      top: 0;
      transform-origin: 0 0;
      width: 100%;
    }

    .#{$prefix}-seekbar-backdrop {
      @extend %bar;
      background-color: lighten($controlbar-background-color, 20%);
      margin: $bar-inset 0;
      width: 100%;
    }

    .#{$prefix}-seekbar-bufferlevel {
      @extend %bar;
      background-color: $button-image-color-active-hover;
      margin: $bar-inset 0;
      transition: .3s linear, .3s linear;
      transition-property: transform;
    }

    .#{$prefix}-seekbar-seekposition {
      @extend %bar;
      background-color: transparentize($color-white, .8);
      margin: $bar-inset 0;
    }

    .#{$prefix}-seekbar-playbackposition {
      @extend %bar;
      background-color: $button-image-color-active;
      margin: $bar-inset 0;
      transition: .025s linear, .025s linear;
      transition-property: transform;
    }

    .#{$prefix}-seekbar-playbackposition-marker {
      @extend %bar;
      border-right: $position-marker-width solid $color-white;
      // don't consider the border for width, else it does not overlap at edges
      box-sizing: content-box;
      // offset position marker to center it on mouse pointer and make it visible on both the leftmost and rightmost timeline positions
      margin-left: -$position-marker-width / 2;
      width: 0;
    }

    .#{$prefix}-seekbar-chaptermarker {
      @extend %bar;

      $chaptermarker-width: $position-marker-width / 2;

      border-right: $chaptermarker-width solid $color-white;
      box-sizing: content-box;
      margin: $bar-inset 0;
      margin-left: -$chaptermarker-width / 2;
      width: 0;
    }
  }

  // disable animations during seeks
  &.#{$prefix}-seeking {
    .#{$prefix}-seekbar {
      .#{$prefix}-seekbar-bufferlevel,
      .#{$prefix}-seekbar-playbackposition {
        transition: none;
      }
    }
  }

  &.#{$prefix}-vertical {
    .#{$prefix}-seekbar {
      //overflow-y: hidden;
      height: 100%;
      width: auto;

      %bar-vertical {
        -ms-transform-origin: 0 100%;
        bottom: 0;
        height: 100%;
        right: 0;
        transform-origin: 0 100%;
        width: auto;
      }

      .#{$prefix}-seekbar-backdrop {
        @extend %bar-vertical;
        margin: 0 $bar-inset;
        width: auto;
      }

      .#{$prefix}-seekbar-bufferlevel {
        @extend %bar-vertical;
        margin: 0 $bar-inset;
      }

      .#{$prefix}-seekbar-seekposition {
        @extend %bar-vertical;
        margin: 0 $bar-inset;
      }

      .#{$prefix}-seekbar-playbackposition {
        @extend %bar-vertical;
        margin: 0 $bar-inset;
      }

      .#{$prefix}-seekbar-playbackposition-marker {
        @extend %bar-vertical;
        border-right: 0;
        height: $position-marker-width;
        width: auto;

        &::after {
          display: inline-block;
          height: $position-marker-width;
          width: 100%;
          background: $color-white;
          content: '';
          transform: translateY(-$position-marker-width);
        }
      }
    }
  }
}

.#{$prefix}-ui-seekbar {
  @extend %ui-seekbar;
}
