@import '../variables';

.#{$prefix}-ui-seekbar-label {
  @extend %ui-container;

  @include hidden-animated;

  bottom: 100%;
  left: 0;
  margin-bottom: 1em;
  pointer-events: none;
  position: absolute;
  text-align: center;

  // Center container on left edge to get it centered over timeline position
  %center-on-left-edge {
    margin-left: -50%;
    margin-right: 50%;
  }

  > .#{$prefix}-container-wrapper {
    @extend %center-on-left-edge;
    background-color: $controlbar-background-color;
    padding: .5em;

    .#{$prefix}-seekbar-thumbnail {
      margin-bottom: .3em;
    }

    .#{$prefix}-seekbar-label-time {
      line-height: .8em;
      margin: .5em;
    }

    .#{$prefix}-seekbar-label-title {
      display: block;
      line-height: .8em;
      margin: .5em;
      white-space: normal;
    }
  }
}
