@import '../variables';

.#{$prefix}-ui-selectbox {
  @extend %ui-component;

  background-color: darken($color-white, 10%);
  border: 1px solid $color-gray;
  color: lighten($color-black, 30%);
  cursor: pointer;
  font-size: .8em;
  padding: .3em;

  option {
    // nothing yet
  }
}
