@import '../variables';
@import '../mixins';

.#{$prefix}-ui-settings-panel {
  @extend %ui-container;

  // Animation must be done on the inner container because the outer auto-sizes to its container height (e.g. the control bar)
  @include animate-slide-in-from-bottom(10em, $animation-duration, '> .#{$prefix}-container-wrapper');

  background-color: $controlbar-background-color;
  bottom: 100%;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;

  > .#{$prefix}-container-wrapper {
    margin: -.5em;
    padding: .5em;

    > * {
      margin: .5em;
    }

    // A "line" in the panel: a container holding a label + control
    .#{$prefix}-container-wrapper > * {
      // Labels
      &:first-child {
        display: inline-block;
        width: 8em;
      }

      // Controls (e.g. selectbox)
      &:last-child {
        width: 12em;
      }
    }
  }

  .#{$prefix}-ui-settings-panel-item {
    &.#{$prefix}-hidden {
      display: none;
    }
  }
}

// Remove margin inherited from controlbar
.#{$prefix}-container-wrapper > .#{$prefix}-ui-settings-panel {
  margin: 0;
}
