.#{$prefix}-ui-settingstogglebutton {
  @extend %ui-button;

  background-image: url('../../assets/skin-legacy/images/components/normal/settings.png');

  &:hover {
    background-image: url('../../assets/skin-legacy/images/components/hover/settings.png');
  }

  &.#{$prefix}-on {
    background-image: url('../../assets/skin-legacy/images/components/normal/settings.png');

    &:hover {
      background-image: url('../../assets/skin-legacy/images/components/hover/settings.png');
    }
  }
}
