@import '../variables';
@import '../mixins';

.#{$prefix}-ui-titlebar {
  @extend %ui-container;

  @include hidden-animated;
  @include layout-align-top;

  background-color: $controlbar-background-color;
  color: $color-white;

  > .#{$prefix}-container-wrapper {
    padding: .5em;
  }
}
