@import '../variables';
@import '../mixins';

.#{$prefix}-ui-airplaytogglebutton {
  @extend %ui-button;

  background-image: url('../../assets/skin-super-modern/images/airplay.svg');

  &:hover {
    @include svg-icon-shadow;
  }

  &.#{$prefix}-on {
    background-image: url('../../assets/skin-super-modern/images/airplayX.svg');
  }
}
