@import '../variables';

%ui-label {
  @extend %ui-component;

  @include hidden;

  cursor: default;
  white-space: nowrap;
}

.#{$prefix}-ui-label {
  @extend %ui-label;
}

.#{$prefix}-ui-label-savedEnergy {
  @extend %ui-label;
  color: $color-highlight;
  font-size: .8em;
  margin-left: 2.2em;
}
