@import '../variables';

.#{$prefix}-ui-playbacktimelabel {
  @extend %ui-label;

  font-size: .8em;
  font-weight: bold;
  margin: 0 .5em;
  text-transform: uppercase;

  &.#{$prefix}-ui-playbacktimelabel-live {
    cursor: pointer;

    &::before {
      color: $color-secondary;
      content: '●';
      padding-right: .2em;
    }

    &.#{$prefix}-ui-playbacktimelabel-live-edge {
      &::before {
        color: $color-red;
      }
    }
  }
}
