@import '../variables';

.#{$prefix}-ui-seekbar-label {
  @extend %ui-container;

  @include hidden-animated;

  bottom: 100%;
  left: 0;
  margin-bottom: .75em;
  pointer-events: none;
  position: absolute;
  text-align: center;

  // Center container on left edge to get it centered over timeline position
  %center-on-left-edge {
    margin-left: -50%;
    margin-right: 50%;
    position: relative;
  }

  > .#{$prefix}-container-wrapper {
    @extend %center-on-left-edge;
  }

  .#{$prefix}-seekbar-label-inner {
    border: solid $color-primary .0625em;
    border-radius: .5em;
    overflow: hidden;

    > .#{$prefix}-container-wrapper {
      position: relative;

      .#{$prefix}-seekbar-thumbnail {
        width: 7em;
      }

      .#{$prefix}-seekbar-label-metadata {
        background: linear-gradient(to bottom, $color-transparent, $color-background-bars);
        bottom: 0;
        box-sizing: border-box;
        display: block;
        padding: .5em;
        position: absolute;
        width: 100%;

        .#{$prefix}-seekbar-label-time {
          display: block;
          font-weight: bold;
          line-height: .8em;
        }

        .#{$prefix}-seekbar-label-title {
          display: block;
          font-weight: bold;
          margin-bottom: .3em;
          white-space: normal;
        }
      }
    }
  }
}
