@import '../variables';
@import '../mixins';

$seekbar-height: .3em;

// sass-lint:disable no-vendor-prefixes
%bar {
  -webkit-transform-origin: 0 0; // required for Android 4.4 WebView
  bottom: 0;
  box-sizing: border-box;
  height: $seekbar-height;
  left: 0;
  margin: auto;
  position: absolute;
  right: auto;
  top: 0;
  transform-origin: 0 0;
  width: 100%;
}

%ui-seekbar {
  @extend %ui-component;

  @include hidden;
  @include focusable;

  align-items: center;
  display: flex;
  height: 1em;
  justify-content: center;
  margin: 0 .5em;
  position: relative;
  width: 100%;

  $bar-inset: auto;

  .#{$prefix}-seekbar-playbackposition-marker {
    @extend %bar;

    @include seekbar-position-marker($seekbar-height * 2.2);
    background-color: $color-highlight;
    border-radius: 50%;
    box-shadow: 0 0 3px 0 transparentize($color: #000, $amount: .75);
  }

  .#{$prefix}-seekbar {
    @extend %ui-component;

    @include hidden;
    @include focusable;

    border-radius: 1em;
    cursor: pointer;
    font-size: 1em;
    height: $seekbar-height;
    margin: calc((1em - $seekbar-height) / 2) 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    .#{$prefix}-seekbar-backdrop {
      @extend %bar;
      background-color: transparentize($color-primary, .8);
      margin: $bar-inset 0;
      width: 100%;
    }

    .#{$prefix}-seekbar-bufferlevel {
      @extend %bar;
      background-color: transparentize($color-secondary, .3);
      margin: $bar-inset 0;
      transition: .3s linear, .3s linear;
      transition-property: transform;
    }

    .#{$prefix}-seekbar-seekposition {
      @extend %bar;
      background-color: transparentize($color-primary, .8);
      margin: $bar-inset 0;
    }

    .#{$prefix}-seekbar-playbackposition {
      @extend %bar;
      background-color: $color-highlight;
      margin: $bar-inset 0;
      transition: .1s linear, .1s linear;
      transition-property: transform;
    }

    .#{$prefix}-seekbar-markers {
      @extend %bar;

      $marker-width: 2px;
      height: $seekbar-height;

      > .#{$prefix}-seekbar-marker {
        @extend %bar;

        background-color: $color-primary;
        height: 100%;
        text-align: center;
        transition-duration: .1s;
        transition-property: transform;
        transition-timing-function: linear;
        width: $marker-width;

        > .#{$prefix}-seekbar-marker-image {
          height: $seekbar-height * 4;
          position: absolute;
          transform: translate(-50%, calc(-100% - .2em));
        }
      }
    }
  }

  // disable animations during seeks
  &.#{$prefix}-seeking {
    .#{$prefix}-seekbar {
      .#{$prefix}-seekbar-bufferlevel,
      .#{$prefix}-seekbar-playbackposition {
        transition: none;
      }
    }
  }
}

.#{$prefix}-ui-seekbar {
  @extend %ui-seekbar;
}
