@import '../variables';
@import '../mixins';

.#{$prefix}-ui-subtitletogglebutton {
  @extend %ui-button;

  &:hover {
    @include svg-icon-shadow;
  }

  &.#{$prefix}-subtitles-on {
    background-size: 1.5em;
    background-image: url('../../assets/skin-super-modern/images/subtitles-on.svg');
  }

  &.#{$prefix}-subtitles-off {
    background-size: 1.5em;
    background-image: url('../../assets/skin-super-modern/images/subtitles-off.svg');
  }
}
