@import '../variables';
@import '../mixins';

.#{$prefix}-ui-touchcontrol-overlay {
  @extend %ui-container;
  @include layout-cover;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
