@import '../../variables';
@import '../../mixins';

.#{$prefix}-ui-xsharebutton {
  @extend %ui-button;

  background: transparent url('../../assets/skin-modern/images/brands/x.svg') center / 1.5em no-repeat content-box !important;
  font-size: 2em;

  &:hover {
    @include svg-icon-shadow;
  }
}

.#{$prefix}-ui-uicontainer {
  &.#{$prefix}-layout-max-width-600 {
    .#{$prefix}-ui-xsharebutton {
      font-size: 1.2em;
    }
  }

  &.#{$prefix}-layout-max-width-800 {
    .#{$prefix}-ui-xsharebutton {
      font-size: 1.5em;
    }
  }
}
