@import '../../variables';

.#{$prefix}-ui-ecomodetogglebutton {
  @extend %ui-button;
}

// sass-lint:disable no-ids
#ecomodelabel {
  &::before {
    background-image: svg-load('../../assets/images/leaf.svg', fill=$color-icon);
    background-repeat: no-repeat;
    background-size: 1.7em auto;
    content: ' ';
    display: inline-block;
    height: 1.5em;
    width: 2em;
  }
}
