@import '../../variables';
@import '../../mixins';

.#{$prefix}-ui-ecomodetogglebutton {
  @extend %ui-button;
  height: 1em;
  min-width: 5em;

  &:hover {
    @include svg-icon-shadow;
  }

  &.#{$prefix}-on {
    .#{$prefix}-ui-icon {
      background-image: svg-load('../../assets/images/toggleOn.svg', fill=$color-icon);
      background-position: 20px center;
      background-size: 45% auto;
    }
  }

  &.#{$prefix}-off {
    .#{$prefix}-ui-icon {
      background-image: svg-load('../../assets/images/toggleOff.svg', stroke=$color-icon);
      background-position: 20px center;
      background-size: 45% auto;
    }
  }
}

// sass-lint:disable no-ids
#ecomodelabel {
  &::before {
    background-image: svg-load('../../assets/images/leaf.svg', fill=$color-icon);
    background-repeat: no-repeat;
    background-size: 1.7em auto;
    content: ' ';
    display: inline-block;
    height: 1.5em;
    width: 2em;
  }
}
