@import '../../variables';
@import '../../mixins';

.#{$prefix}-ui-hugereplaybutton {
  @extend %ui-button;

  height: 5em;
  outline: none;
  width: 5em;

  .#{$prefix}-ui-icon {
    background-image: url('../../assets/images/replay-with-play.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5em;
    height: 100%;
    width: 100%;
  }
}
