@import '../../variables';
@import '../../mixins';

.#{$prefix}-ui-playbacktogglebutton {
  @extend %ui-button;

  .#{$prefix}-icon {
    background-image: url('../../assets/images/play.svg');
  }

  &:hover {
    @include svg-icon-shadow;
  }

  &.#{$prefix}-on {
    .#{$prefix}-icon {
      background-image: url('../../assets/images/pause.svg');
    }

    &.#{$prefix}-stoptoggle {
      .#{$prefix}-icon {
        background-image: url('../../assets/images/stop.svg');
      }
    }
  }
}
