@import '../../variables';
@import '../../mixins';

.#{$prefix}-ui-subtitletogglebutton {
  @extend %ui-button;

  &:hover {
    @include svg-icon-shadow;
  }

  &.#{$prefix}-subtitles-on {
    .#{$prefix}-icon {
      background-image: url('../../assets/images/subtitles-on.svg');
    }
    background-size: 1.5em;
  }

  &.#{$prefix}-subtitles-off {
    .#{$prefix}-icon {
      background-image: url('../../assets/images/subtitles-off.svg');
    }
    background-size: 1.5em;
  }
}
