@import '../../variables';
@import '../../mixins';

%ad-status-overlay {
  @extend %ui-container;
  @include layout-align-bottom;

  $ad-status-overlay-bottom-offset: 5em;
  box-sizing: border-box;
  padding: 1em safe-area-max(1em, right) 0.5em safe-area-max(1em, left);
  bottom: calc(#{$ad-status-overlay-bottom-offset} + #{safe-area-inset(bottom)});

  .#{$prefix}-bar {
    > .#{$prefix}-container-wrapper {
      pointer-events: none;
      display: flex;
      margin: 0.5em 0;
    }
  }
}

.#{$prefix}-ui-ad-status-overlay {
  @extend %ad-status-overlay;
}
