@import '../../variables';
@import '../../mixins';

.#{$prefix}-ui-controlbar {
  .#{$prefix}-ad-controlbar-bottom {
    @include hidden-slide-down;

    white-space: nowrap; // Required for iOS 8.2 to avoid wrapped controlbar due to wrong size calculation

    > .#{$prefix}-container-wrapper {
      display: flex;
      margin: .5em 0;

      .#{$prefix}-ui-volumeslider {
        margin: auto .5em;
        width: 5em;
      }
    }
  }
}
