@import 'variables';
@import 'mixins';

&.#{$prefix}-ui-skin-modern-smallscreen {

  .#{$prefix}-ui-fullscreentogglebutton {
    background-image: url('../../assets/skin-super-modern/images/fullscreensmall.svg');

    &.#{$prefix}-on {
      background-image: url('../../assets/skin-super-modern/images/fullscreenXsmall.svg');
    }
  }

  // Do not display watermark in mobile view
  .#{$prefix}-ui-watermark {
    display: none;
  }

  .#{$prefix}-ui-titlebar {
    > .#{$prefix}-container-wrapper {
      display: flex;

      .#{$prefix}-ui-label {
        align-items: center;
        display: inline-flex;
        font-size: .9em;
      }

      .#{$prefix}-label-metadata-title {
        width: 100%;
      }
    }
  }

  .#{$prefix}-ui-cast-status-overlay {
    background: $color-background; // Remove background Cast icon

    .#{$prefix}-ui-cast-status-label {
      top: 30%;
    }
  }

  // Decrease huge play button size and replace icon with normal play icon
  .#{$prefix}-ui-hugeplaybacktogglebutton,
  .#{$prefix}-ui-smallcenteredplaybacktogglebutton {
    .#{$prefix}-image {
      background-size: 2.5em;
    }
  }

  // When casting, also display pause icon and disable animations because the transition doesn't look right
  // sass-lint:disable nesting-depth
  &.#{$prefix}-remote-control {
    .#{$prefix}-ui-hugeplaybacktogglebutton,
    .#{$prefix}-ui-smallcenteredplaybacktogglebutton {
      &.#{$prefix}-on {
        .#{$prefix}-image {
          animation: none;
          background-image: url('../../assets/skin-super-modern/images/pause.svg');
          visibility: visible;
        }
      }

      &.#{$prefix}-off {
        .#{$prefix}-image {
          animation: none;
        }
      }
    }
  }

  // Adjustments for screen width x <= 400
  &.#{$prefix}-layout-max-width-400 {
    .#{$prefix}-ui-settings-panel,
    .#{$prefix}-ui-hugeplaybacktogglebutton,
    .#{$prefix}-ui-smallcenteredplaybacktogglebutton,
    .#{$prefix}-ui-hugereplaybutton,
    .#{$prefix}-ui-errormessage-overlay,
    .#{$prefix}-ui-buffering-overlay,
    .#{$prefix}-ui-subtitle-overlay,
    .#{$prefix}-ui-cast-status-overlay {
      font-size: .6em;
    }
  }

  // Adjustments for screen width 400 < x <= 600
  &.#{$prefix}-layout-max-width-600 {
    .#{$prefix}-ui-settings-panel,
    .#{$prefix}-ui-hugeplaybacktogglebutton,
    .#{$prefix}-ui-smallcenteredplaybacktogglebutton,
    .#{$prefix}-ui-hugereplaybutton,
    .#{$prefix}-ui-errormessage-overlay,
    .#{$prefix}-ui-buffering-overlay,
    .#{$prefix}-ui-subtitle-overlay,
    .#{$prefix}-ui-cast-status-overlay {
      font-size: .8em;
    }
  }

  // Adjustments for screen width x <= 600
  // sass-lint:disable no-empty-rulesets
  &.#{$prefix}-layout-max-width-400,
  &.#{$prefix}-layout-max-width-600 {
    // none yet
  }
}
