@import 'variables';
@import 'mixins';

.#{$prefix}-ui-tv {
  $large-size: 3.5vh;
  $medium-large-size: 3vh;
  $medium-size: 2vh;

  > * {
    font-size: $medium-size;
  }

  .#{$prefix}-ui-seekbar-label {
    margin-bottom: .5em;
  }
}
