$font-family: Verdana, sans-serif;
$font-size: 1em;
$font-color: white;

$button-image-color: #969696;
$button-image-color-hover: #c8c8c8;
$button-image-color-active: #0294c6;
$button-image-color-active-hover: #2eabe2;

$controlbar-background-color: rgba(34,34,34,.9);