@import '../../variables';

.#{$prefix}-ui-settings-panel-navigation-text-button {
  @extend %ui-button;

  padding: 0;
  justify-content: flex-end;

  &.touched {
    transform: unset;
    .#{$prefix}-label {
      color: darken($color-primary, 30%);
    }
  }

  .#{$prefix}-label {
    display: inline-block;
    text-decoration: underline;
  }
}
